body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1935px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1935px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u306 {
  position:absolute;
  left:20px;
  top:960px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:110px;
}
#u308 {
  position:absolute;
  left:2px;
  top:47px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 255, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u310 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u311 {
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:45px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u312 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u314 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#2ECC71;
}
#u316 {
  position:absolute;
  left:20px;
  top:65px;
  width:50px;
  height:45px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#2ECC71;
}
#u317 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u318 {
  position:absolute;
  left:24px;
  top:112px;
  width:44px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#2ECC71;
}
#u321 {
  position:absolute;
  left:163px;
  top:65px;
  width:50px;
  height:45px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#2ECC71;
}
#u322 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u323 {
  position:absolute;
  left:174px;
  top:112px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:0px;
  top:175px;
  width:375px;
  height:135px;
}
#u326 {
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327 {
  position:absolute;
  left:0px;
  top:530px;
  width:375px;
  height:155px;
  overflow:hidden;
  touch-action:none;
}
#u327_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:155px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u327_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
}
#u328_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u328_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2ECC71;
  text-align:left;
}
#u329 {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:155px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2ECC71;
  text-align:left;
}
#u330 {
  position:absolute;
  left:2px;
  top:2px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u332 {
  position:absolute;
  left:20px;
  top:41px;
  width:75px;
  height:75px;
}
#u333 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u334 {
  position:absolute;
  left:29px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u337 {
  position:absolute;
  left:150px;
  top:41px;
  width:75px;
  height:75px;
}
#u338 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u339 {
  position:absolute;
  left:159px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u342 {
  position:absolute;
  left:280px;
  top:41px;
  width:75px;
  height:75px;
}
#u343 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u344 {
  position:absolute;
  left:289px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u345 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u347 {
  position:absolute;
  left:410px;
  top:41px;
  width:75px;
  height:75px;
}
#u348 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u349 {
  position:absolute;
  left:419px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u350 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u352 {
  position:absolute;
  left:540px;
  top:41px;
  width:75px;
  height:75px;
}
#u353 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u354 {
  position:absolute;
  left:549px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u355 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u357 {
  position:absolute;
  left:670px;
  top:41px;
  width:75px;
  height:75px;
}
#u358 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u359 {
  position:absolute;
  left:679px;
  top:122px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2ECC71;
}
#u361 {
  position:absolute;
  left:20px;
  top:7px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2ECC71;
}
#u362 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:830px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u363 {
  position:absolute;
  left:0px;
  top:705px;
  width:375px;
  height:830px;
}
#u364 {
  position:absolute;
  left:2px;
  top:407px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u365 {
  position:absolute;
  left:20px;
  top:717px;
  width:150px;
  height:150px;
}
#u366 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u367 {
  position:absolute;
  left:205px;
  top:717px;
  width:150px;
  height:150px;
}
#u368 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u369 {
  position:absolute;
  left:20px;
  top:877px;
  width:150px;
  height:150px;
}
#u370 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u371 {
  position:absolute;
  left:205px;
  top:877px;
  width:150px;
  height:150px;
}
#u372 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u373 {
  position:absolute;
  left:20px;
  top:1037px;
  width:150px;
  height:150px;
}
#u374 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u375 {
  position:absolute;
  left:205px;
  top:1037px;
  width:150px;
  height:150px;
}
#u376 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u377 {
  position:absolute;
  left:20px;
  top:1197px;
  width:150px;
  height:150px;
}
#u378 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u379 {
  position:absolute;
  left:205px;
  top:1197px;
  width:150px;
  height:150px;
}
#u380 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u381 {
  position:absolute;
  left:20px;
  top:1357px;
  width:150px;
  height:150px;
}
#u382 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u383 {
  position:absolute;
  left:205px;
  top:1357px;
  width:150px;
  height:150px;
}
#u384 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u385 {
  position:absolute;
  left:0px;
  top:1555px;
  width:375px;
  height:170px;
}
#u386 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387 {
  position:absolute;
  left:0px;
  top:1555px;
  width:375px;
  height:580px;
}
#u388 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:116px;
}
#u389 {
  position:absolute;
  left:20px;
  top:1600px;
  width:335px;
  height:115px;
}
#u390 {
  position:absolute;
  left:2px;
  top:50px;
  width:331px;
  word-wrap:break-word;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2ECC71;
}
#u391 {
  position:absolute;
  left:160px;
  top:1566px;
  width:56px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2ECC71;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u394 {
  position:absolute;
  left:20px;
  top:1735px;
  width:100px;
  height:100px;
}
#u395 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u396 {
  position:absolute;
  left:144px;
  top:1746px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u399 {
  position:absolute;
  left:144px;
  top:1803px;
  width:57px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u400 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u401 {
  position:absolute;
  left:211px;
  top:1806px;
  width:39px;
  height:18px;
  color:#666666;
}
#u402 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u403 {
  position:absolute;
  left:211px;
  top:1814px;
  width:42px;
  height:1px;
}
#u404 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2ECC71;
}
#u405 {
  position:absolute;
  left:328px;
  top:1796px;
  width:27px;
  height:28px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2ECC71;
}
#u406 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 204, 113, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u407 {
  position:absolute;
  left:0px;
  top:2135px;
  width:375px;
  height:60px;
}
#u408 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u410 {
  position:absolute;
  left:20px;
  top:2137px;
  width:35px;
  height:35px;
}
#u411 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2ECC71;
}
#u412 {
  position:absolute;
  left:24px;
  top:2175px;
  width:30px;
  height:18px;
  color:#2ECC71;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u415 {
  position:absolute;
  left:120px;
  top:2137px;
  width:35px;
  height:35px;
}
#u416 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  position:absolute;
  left:124px;
  top:2175px;
  width:30px;
  height:18px;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u420 {
  position:absolute;
  left:220px;
  top:2137px;
  width:35px;
  height:35px;
}
#u421 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:224px;
  top:2175px;
  width:30px;
  height:18px;
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u425 {
  position:absolute;
  left:320px;
  top:2137px;
  width:35px;
  height:35px;
}
#u426 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  position:absolute;
  left:324px;
  top:2175px;
  width:30px;
  height:18px;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u430 {
  position:absolute;
  left:20px;
  top:1855px;
  width:100px;
  height:100px;
}
#u431 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u432 {
  position:absolute;
  left:144px;
  top:1866px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u435 {
  position:absolute;
  left:144px;
  top:1923px;
  width:57px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u437 {
  position:absolute;
  left:211px;
  top:1926px;
  width:39px;
  height:18px;
  color:#666666;
}
#u438 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u439 {
  position:absolute;
  left:211px;
  top:1934px;
  width:42px;
  height:1px;
}
#u440 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2ECC71;
}
#u441 {
  position:absolute;
  left:328px;
  top:1916px;
  width:27px;
  height:28px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2ECC71;
}
#u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u444 {
  position:absolute;
  left:20px;
  top:1975px;
  width:100px;
  height:100px;
}
#u445 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u446 {
  position:absolute;
  left:144px;
  top:1986px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u447 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u449 {
  position:absolute;
  left:144px;
  top:2043px;
  width:57px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u451 {
  position:absolute;
  left:211px;
  top:2046px;
  width:39px;
  height:18px;
  color:#666666;
}
#u452 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u453 {
  position:absolute;
  left:211px;
  top:2054px;
  width:42px;
  height:1px;
}
#u454 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2ECC71;
}
#u455 {
  position:absolute;
  left:328px;
  top:2036px;
  width:27px;
  height:28px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2ECC71;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u458 {
  position:absolute;
  left:320px;
  top:2054px;
  width:35px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u459 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u460 {
  position:absolute;
  left:330px;
  top:2056px;
  width:16px;
  height:15px;
}
#u461 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u463 {
  position:absolute;
  left:320px;
  top:2092px;
  width:35px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FF0000;
}
#u464 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u465 {
  position:absolute;
  left:325px;
  top:2100px;
  width:24px;
  height:20px;
}
#u466 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#2ECC71;
}
#u468 {
  position:absolute;
  left:305px;
  top:65px;
  width:50px;
  height:45px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#2ECC71;
}
#u469 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u470 {
  position:absolute;
  left:313px;
  top:112px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u472 {
  position:absolute;
  left:0px;
  top:330px;
  width:375px;
  height:180px;
  overflow:hidden;
}
#u472_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u472_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  overflow:hidden;
  touch-action:pan-y;
}
#u473_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u473_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u475 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u473_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u473_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u477 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u473_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u473_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u478 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u479 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u473_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u473_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u481 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u483 {
  position:absolute;
  left:162px;
  top:153px;
  width:8px;
  height:8px;
}
#u483_img.selected {
}
#u483.selected {
}
#u484 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u485 {
  position:absolute;
  left:176px;
  top:153px;
  width:8px;
  height:8px;
}
#u485_img.selected {
}
#u485.selected {
}
#u486 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u487 {
  position:absolute;
  left:191px;
  top:153px;
  width:8px;
  height:8px;
}
#u487_img.selected {
}
#u487.selected {
}
#u488 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u489 {
  position:absolute;
  left:205px;
  top:153px;
  width:8px;
  height:8px;
}
#u489_img.selected {
}
#u489.selected {
}
#u490 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u491 {
  position:absolute;
  left:20px;
  top:190px;
  width:105px;
  height:105px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u492 {
  position:absolute;
  left:0px;
  top:42px;
  width:105px;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u493 {
  position:absolute;
  left:135px;
  top:190px;
  width:105px;
  height:105px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u494 {
  position:absolute;
  left:0px;
  top:42px;
  width:105px;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u495 {
  position:absolute;
  left:250px;
  top:190px;
  width:105px;
  height:105px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u496 {
  position:absolute;
  left:0px;
  top:42px;
  width:105px;
  word-wrap:break-word;
}
