body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:891px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:891px;
}
#u25 {
  position:absolute;
  left:2px;
  top:438px;
  width:1262px;
  visibility:hidden;
  word-wrap:break-word;
}
